
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Yelp Reviews Library</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Group Members: Sijie Wen, Xiaolu Li, Yamin Tang</p>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Yelp</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Yelp Reviews Library</h1>
          <dl class="row">
            <dt class="col-sm-3">For Name</dt>
            <dd class="col-sm-9">
              <p class="lead text-muted">Enter any restaurant name on New York, Hoboken, Newport, West New York and Fortlee.</p>
              <p class="lead text-muted"><em>For example, Cucharamama, Grand Vin.</em></p>
            </dd>

            <dt class="col-sm-3">For Service</dt>
            <dd class="col-sm-9">
              <p class="lead text-muted">Enter <mark>translate</mark> to get all Chinese reviews of designated restaurant;</p>
              <p class="lead text-muted">Enter <mark>rate</mark> to get the overall rating based on the sentiment score of all reviews;</p>
              <p class="lead text-muted">Enter <mark>adj</mark> to get most commonly used adjective words for a restaurant;</p>
              <p class="lead text-muted">Enter <mark>noun</mark> to get most commonly used noun words for a restaurant;</p>
              <p class="lead text-muted">Enter <mark>positive</mark> to get top 10 positive noun phrases used for a restaurant;</p>
              <p class="lead text-muted">Enter <mark>negative</mark> to get top 10 negative noun phrases used for a restaurant.</p>
            </dd>
          </dl>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <div class="card mb-12 box-shadow">

                <div class="card-body">
                    <h1>Please Enter the Restaurant Name and Service: </h1>
                  <p class="card-text">

                    <form action="" method="post">
                        <input type="text" placeholder="Name" name="name" value="{{request.form.name}}">
                        <input type="text" placeholder="Service" name="service" value="{{request.form.service}}">

                        <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">

                        <button type="button" class="btn btn-sm btn-outline-secondary"><input class="btn btn-default" type="submit" value="Submit"></button>

                        </div>
                        </div>
                    </form>
                    {% if error %}
                         <p class="error"><strong>Error:</strong> {{ error }}</p>
                    {% endif %}

                  </p>


                </div>
              </div>
            </div>


          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Yelp Reviews Library is &copy;copyright by Sindy Wen </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
